@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'react-calendar/dist/Calendar.css';

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: var(--tg-theme-text-color);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TaskWrapper {
  background: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  padding: 0;
  border-radius: 5px;
}
 
.react-calendar__navigation {
  margin-bottom: 5px;
}

.TaskList {
  background: var(--tg-theme-bg-color);
  padding: 0;
  border: 1px solid hsl(var(--tg-theme-secondary-bg-color-h),var(--tg-theme-secondary-bg-color-s),calc(var(--tg-theme-secondary-bg-color-l) * 0.7));
  border-radius: 10px;
}

.react-calendar {
  background: var(--tg-theme-bg-color);
  border: 1px solid var(--tg-theme-bg-color);
  border-radius: 15px;
  margin: 10px 30px;
  width: 300px;
}

/*
.react-calendar__tile:disabled {
  background-color: var(--tg-theme-secondary-bg-color);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--tg-theme-secondary-bg-color);
}*/