.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.task {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-text-color);
    padding: 15px;
    width: 170px;
}


.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-bg-color);
}

.description {
    font-size: 0.8em;
}

.task-btn {
    padding: 10px 15px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.TaskFormRow {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 5px 10px;
}
.TaskFormRow>.task-input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.task-input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /*
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    border: 1px solid var(--tg-theme-bg-color);
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 
.task-input::placeholder {
    color: var(--tg-theme-hint-color);
}

.TaskForm {
    width: 100%;
    margin-bottom: 1rem;
}
  
.Task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    padding: 1px 2px;
    margin: 5px 6px 5px 6px;
    cursor: pointer;
    border-bottom: 1px solid var(--tg-theme-text-color);
}

.fa-trash {
    margin-left: 0.75rem;
}

.completed {
    color: rgb(7, 155, 7);
}